body {
  margin: 0;
}

.content__container {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.spacer {
  flex: 1;
}

.footer__container {
  height: 100px;
  background-color: var(--optional-color);
}
